
/* Pretty Product CSS */
[data-title='Select Product 2.0'] .elOrderProductOptinLabel.elOrderProductOptinLabelTable {
  display: none !important;
}

[data-title='Select Product 2.0'] .elOrderProductOptinProducts {
  font-size: 16px;
  border-radius: 10px;
  border-collapse: separate;
  border-spacing: 3px;
}

[data-title='Select Product 2.0'] .pull-right,
[data-title='Select Product 2.0'] .activeRadioProduct .pull-right {
  float: right !important;
  border: 2px solid lightgray;
  border-radius: 0 5px 5px 0;
  border-left-style: hidden;
}

[data-title='Select Product 2.0'] .pull-left,
[data-title='Select Product 2.0'] .activeRadioProduct .pull-left {
  float: left !important;
  border: 2px solid lightgray;
  border-radius: 5px 0 0 5px;
  border-right-style: hidden;
}

[data-title='Select Product 2.0'] .activeRadioProduct .pull-left {
  border: 2px solid rgb(22, 188, 119);
  border-radius: 5px 0 0 5px;
  background-color: #D3F2EC;
border-right-style: hidden;
}

[data-title='Select Product 2.0'] .activeRadioProduct .pull-right {
  border: 2px solid rgb(22, 188, 119);
  border-radius: 0 5px 5px 0;
  background-color: #D3F2EC;
  color: black;
border-left-style: hidden;
}

[data-title='Select Product 2.0'] .elOrderProductOptions td,
[data-title='Select Product 2.0'] .elOrderProductOptions th {
  padding-top: 8px;
  padding-bottom: 14px;
  height: 65px;
}

[data-title='Select Product 2.0'] .pull-left {
  padding-right: 0px;
border-right-style: hidden;
}

[data-title='Select Product 2.0'] .pull-right {
  padding-left: 0px;
  color: gray;
  border-left-style: hidden;
}

  .elOrderProductOptinProductName.product-name,
  .elOrderProductOptinTableProductName {
      width: 40% !important;

  }
.elOrderProductOptinPrice.product-price,
.elOrderProductOptinPrice,
    .elOrderProductOptinTablePriceName{
  width: 60% !important;
            
}

.elOrderProductOptinProducts input {
  margin-right: 5px;
  vertical-align: -webkit-baseline-middle;
}
.highlighted{
 border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  border-top-style: hidden !important;
}







/* <!-- Pretty Product CSS NEW --> */
.pretty-highlighted-text {
  display: grid;
  width: 100%;
  background-color: rgb(22, 188, 119);
  border-color: rgb(22, 188, 119);
  border-top-right-radius: 5px;
  text-align: center;
  border-top-left-radius: 5px;
  margin-top: -7px;
  height: 30px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.pretty-highlighted {
  background-color: #f2f2f2;
}

.pretty-product-price {
  color: #888888;
  font-size: 15px;
  text-decoration: line-through rgb(255, 51, 51);
  line-height: 1.8;
}

.pretty-product-currency {
  color: #888888;
  font-size: 24px;
}

.pretty-product-price-big {
  font-size: 40px;
  vertical-align: top;
  padding: 0px;
  margin: 0px;
  line-height: 1.1;
}

.pretty-product-price-small {
  font-size: 13px;
  line-height: -18.9;
}

.pretty-product-discount {
  color: gray;
  text-decoration: line-through;
  font-size: 12px;
}

.pretty-product-price-final {
  color: gray;
  font-size: 12px;
}
.pretty-product-price-line-through {
  text-decoration: line-through;
}
.pretty-label-dash{
color: rgba(0,0,0,0);
}
